{% extends "basics.html" %}
{% block title %}ABOUT{% endblock title %}
{% block body %}
{% load static %}
<section id="about" class="about">
  <div class="container">

    <div class="section-title">
      <h2>About</h2>
      <p>Self-motivated, diligent professional aiming to leverage my interpersonal skills to contribute to the objectives of a customer-focused company, emphasizing customer satisfaction and experience. Known for my unwavering focus and optimistic approach, especially in challenging situations. </div>

    <div class="row">
      <div class="col-lg-4" data-aos="fade-right">
        <img src="s{% static "assets/img/profile-img.jpg" %}" class="img-fluid" alt="">
      </div>
      <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
        <h3>UI/UX Designer &amp; Web Developer.</h3>
        <p class="fst-italic">
          DSA Enthusiast and Python Problem Solver | KCT Automobile Engineering Student | Integrating Data Structures and Algorithms for Effective Solutions
        </p>
        <div class="row">
          <div class="col-lg-6">
            <ul>
              <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>31 Jul 2004</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Leetcode:</strong> <span>//leetcode.com/kabilan_v/</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+91 7010185919</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Coimbatore,TamilNadu</span></li>
            </ul>
          </div>
          <div class="col-lg-6">
            <ul>
              <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>19</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>U.G</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>kabilanvelmani@gmail.com</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
            </ul>
          </div>
        </div>
        <p>
          Experienced Problem Solver with 6 Months in Python | Proficient in Identifying and Addressing Challenges Using Pythonic Solutions | Applied Knowledge in Algorithmic Problem Solving and Scripting | Collaborative Team Player | Eager to Apply Python Expertise to Drive Results in Future Endeavors   </p>
      </div>
    </div>

  </div>
</section><!-- End About Section -->

{% endblock body %}