
{% extends "basics.html" %}
{% block title %}Achievements & Projects {% endblock title %}
{% block body %}
{% load static %}
<section id="portfolio" class="portfolio section-bg">
  <div class="container">

    <div class="section-title">
      <h2>Achievements & Projects</h2>
      <p>Thrilled to announce that I've successfully tackled 500 LeetCode problems on my coding journey! 💻🔍 This achievement represents not just a number but countless hours of learning, problem-solving, and growth.</p>
    </div>

    <div class="row" data-aos="fade-up">
      <div class="col-lg-12 d-flex justify-content-center">
        <ul id="portfolio-flters">
          <li data-filter="*" class="filter-active">All</li>
          <li data-filter=".filter-app">Code</li>
          <li data-filter=".filter-card">Web</li>
          <li data-filter=".filter-web">App</li>
        </ul>
      </div>
    </div>

    <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
          <img src="{% static "assets/img/portfolio/portfolio-1.png" %}" class="img-fluid" alt="">
          <div class="portfolio-links">
            <a href="{% static "assets/img/portfolio/portfolio-1.png" %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
            <a href="https://www.hackerrank.com/profile/kabilanvelmani" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-wrap">
          <img src="{% static "assets/img/portfolio/portfolio-2.png" %}" class="img-fluid" alt="">
          <div class="portfolio-links">
            <a href="{% static "assets/img/portfolio/portfolio-2.png" %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
          <img src="{% static "assets/img/portfolio/portfolio-3.png" %}" class="img-fluid" alt="">
          <div class="portfolio-links">
            <a href="{% static "assets/img/portfolio/portfolio-3.png"%}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
            <a href="https://leetcode.com/kabilan_v/" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-card">
        <div class="portfolio-wrap">
          <img src="{% static "assets/img/portfolio/portfolio-4.jpeg" %}" class="img-fluid" alt="">
          <div class="portfolio-links">
            <a href="{% static "assets/img/portfolio/portfolio-4.jpeg" %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-wrap">
          <img src="{% static "assets/img/portfolio/portfolio-5.png" %}" class="img-fluid" alt="">
          <div class="portfolio-links">
            <a href="{% static "assets/img/portfolio/portfolio-5.png" %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>
            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
          <img src="{% static "assets/img/portfolio/portfolio-6.jpeg" %}" class="img-fluid" alt="">
          <div class="portfolio-links">
            <a href="{% static "assets/img/portfolio/portfolio-6.jpeg" %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
            <a href="https://www.codechef.com/users/kabilanvelmani" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-card">
        <div class="portfolio-wrap">
          <img src="{% static "assets/img/portfolio/portfolio-7.jpgv" %}" class="img-fluid" alt="">
          <div class="portfolio-links">
            <a href="{% static "assets/img/portfolio/portfolio-7.jpg" %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-card">
        <div class="portfolio-wrap">
          <img src="{% static "assets/img/portfolio/portfolio-8.png" %}" class="img-fluid" alt="">
          <div class="portfolio-links">
            <a href="{% static "assets/img/portfolio/portfolio-8.png" %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 3"><i class="bx bx-plus"></i></a>
            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-wrap">
          <img src="{% static "assets/img/portfolio/portfolio-9.jpeg" %}" class="img-fluid" alt="">
          <div class="portfolio-links">
            <a href="{% static "assets/img/portfolio/portfolio-9.jpeg" %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>
{% endblock body %}
