{% extends "basics.html" %}
{% block title %}ABOUT{% endblock title %}
{% block body %}
{% load static %}





<section id="resume" class="resume">
    <div class="container">

      <div class="section-title">
        <h2>Resume</h2>
        <p></p>
      </div>

      <div class="row">
        <div class="col-lg-6" data-aos="fade-up">
          <h3 class="resume-title">Sumary</h3>
          <div class="resume-item pb-0">
            <h4>Kabilan V</h4>
            <p><em>DSA Enthusiast and Python Problem Solver | KCT Automobile Engineering Student | Integrating Data Structures and Algorithms for Effective Solutions</em> </p>
            <ul>
              <li>Coimbatore, India</li>
              <li>+91 7010185919</li>
              <li>kabilanvelmani@gmail.com</li>
            </ul>
          </div>

          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>Bachelor of Automobile</h4>
            <h5>2022 - 2026</h5>
            <p><em>Kumaraguru colege of Technology, coimbatore</em></p>
            <p>PBL Student(Problem Based Learning)</p>
          </div>
          <div class="resume-item">
            <h4>Good will matric H.r sec School </h4>
            <h5>2010 - 2022</h5>
          </div>
          <h3 class="resume-title">Achivements</h3>
          <div class="resume-item">
            <p><em>Kumaraguru colege of Technology, coimbatore</em></p>
            <p>2023- Universiy Rank 1st -IEEE Xtreme(globallevel coding contest)</p>
            <p>2023 -leetcode -weekly contest-(Highest Rating 1315)</p>
            <p>2023 -3nd state -level-Anna University(sports)</p>
            <p> 2024 -1st fencingteam(GOld medal)</p>
          </div>

        </div>
               
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <h3 class="resume-title">Projects</h3>
          <div class="resume-item">
            <h4>App Development</h4>
            <h5>2023- Present</h5>
            <p><em>Flutter, Dart, React </em></p>
            <ul>
              <li>Designed and developed ChatWithMe, a real-time messaging app using
                Flutter, ensuring a sleek and responsive cross-platform user interface.</li>
              <li>Delegate tasks to the 7 members of the design team and provide counsel on all aspects of the project. </li>
              <li>Integrated WebSocket for seamless communication and employed state
                management techniques for efficient app performance.</li>
              <li>Collaborated with textUX/UI designers, conducted testing, and consistently
                updated features, resulting in improved user engagement and satisfaction</li>
            </ul>
          </div>
          <div class="resume-item">
            <h4>Web Development</h4>
            <h5>2023 - preseent</h5>
            <p><em>DJANGO, HTML,CSS</em></p>
            <ul>
              <li>Developed a task management application using Django, implementing user
                authentication, task assignment, and progress tracking features</li>
              <li>Utilized Django REST Framework for API development, ensuring seamless
                communication between the frontend and backend.</li>
              <li>Employed Django ORM for efficient database management, resulting in a
                user-friendly and organized task tracking system.</li>
              
            </ul>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Resume Section -->



{% endblock body %}